

header {display:flex; justify-content: left; height:8vh; margin-bottom:1%; border-bottom: 1px solid grey;
padding:1% 0; background-color: #DDDDDD;}

.header-logo {height:100%; margin:0 1%; }

.header-title {margin:auto 1%; font-size:20px; font-weight:bold; }

.introduction {display: flex; justify-content: center;}

.input-area {display:flex; justify-content: center; margin:2%;}
.input-area input{width:50%; height:6vh; border:1px solid grey	; 
border-radius: 5px; padding:2px 2px; font-size: 20px; }


.sort {
    display:flex;
    justify-content:left;
    flex-wrap:wrap;
    margin:0 2% 2% 2%;
}

.sort h4{
    margin:auto 0;
}

.char {
    font-size:1.5rem;
    border:1px solid grey;
    border-radius:25%;
    padding:0.5rem 1rem;
    margin:auto 1%;
}

.char:hover {
    background-color:#eeeeee;
    cursor: pointer;
}

.sorted {
    font-size:1.5rem;
    color:white;
    background-color: black;
    border:1px solid black;
    border-radius:25%;
    padding:0.5rem 1rem;
    margin:auto 1%;
}

.sorted:hover {
    cursor: pointer;
}


.words-area {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    border-top:1px solid grey;
    margin-bottom:2%;
}

.word {
    margin:2% 3% 0 3%;
    font-weight:bold;
    font-size:24px;
}

.error {
    color:red;

}
